@import url('common.css');

/*#main-content {
	display: flex;
	flex-direction: column;
}

#main-content > div {
	flex: 50%;
}

#info-fantasquadre {
	display: flex;
	flex-direction: column;
}

#info-fantasquadre > div {
	flex: 100%;
}

#fantasquadre {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	overflow-x: auto;
}

.fantasquadra {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
}
*/

/* Main Content */
#main-content {
	display: flex;
	justify-content: space-between;
}

#asta-main {
	flex: 70%;
}

#info-fantasquadre {
	width: 30%;
}

/* Info Fantasquadre */
#info-fantasquadre {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#info-fantasquadre h2 {
	font-size: 24px;
}

#fantasquadre {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
}

.fantasquadra {
	margin-bottom: 10px;
}

.fantasquadra p {
	margin-bottom: 5px;
}

.fantasquadra ul {
	padding-left: 20px;
}

.fantasquadra li {
	margin-bottom: 5px;
}
